<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of thrones | Characters</title>
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        table {
            grid-area: 1 / 1 / 4 / 4;
            font-family: 'Vogue';
            width: 100%;
            text-align: center;
            place-self: center;
            justify-self: center;
            align-self: center;
            border-bottom: 1px solid #d3bc24;
        }

        table th {
            padding: 10px 20px;
            font-size: 20px;
            text-align: left;
        }

        table td {
            font-size: 18px;
            padding: 10px 20px;
            text-align: right;
        }
    </style>
</head>
<body>
    <a href="/" class="go-back">Back to Home</a>
    <div class="main">
        <div class="content">
            <table>
                <tr>
                    <th>Character ref #</th>
                    <td><%= locals.id %></td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><%= locals.name %></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td><%= locals.gender %></td>
                </tr>
                <tr>
                    <th>Culture</th>
                    <td><%= locals.culture %></td>
                </tr>
                <tr>
                    <th>Born</th>
                    <td><%= locals.born %></td>
                </tr>
                <tr>
                    <th>Died</th>
                    <td><%= locals.died %></td>
                </tr>
                <tr>
                    <th>Aliases</th>
                    <td><%= locals.aliases %></td>
                </tr>
                <tr>
                    <th>Titles</th>
                    <td><%= locals.titles %></td>
                </tr>
                <tr>
                    <th>Books In</th>
                    <td><%= locals.books %></td>
                </tr>
                <tr>
                    <th>Tv series</th>
                    <td><%= locals.tvSeries %></td>
                </tr>
                <tr>
                    <th>Played by</th>
                    <td><%= locals.playedBy %></td>
                </tr>
            </table>
            <button id="openBooks" class="selector">Books</button>
            <button id="openCharacters" class="selector active">Characters</button>
            <button id="openHouses" class="selector">Houses</button>
        </div>
    </div>
    <!-- The Modal -->
    <div id="booksModal" class="modal">
        <div class="modal-content">
        <div class="modal-header">
            <span id="closeBooks" class="close">&times;</span>
            <h4>Books</h4>
        </div>
        <div class="modal-body">
            <h5>Select the book you want to get the details about</h5>
            <form action="/book" method="post">
            <select name="id">
                <option class="options" value="0">SELECT</option>
                <% for(let i = 1; i < (12 + 1); i++){ %>
                <option class="options" value="<%= i %>"><%= i %></option>
                <% } %>  
            </select>
            <input type="submit" name="book" value="Go!">
            </form>
        </div>
        </div>
    </div>

    <div id="charactersModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span id="closeCharacters" class="close">&times;</span>
            <h4>Characters</h4>
          </div>
          <div class="modal-body">
            <h5>Do you know that there are 2138 characters in the world of Ice and Fire!</h5>
            <h6>Type in the value 583 and 823 in the search box to find out who they are. The rest is for you to discover!</h6>
            <form action="/character" method="post">
                <input type="search" name="id" placeholder="Type in any value from 1 to 2138" autocomplete="on"> 
                <input type="submit" name="character" value="Go!">
            </form>
          </div>
        </div>
    </div>
  
    <div id="housesModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span id="closeHouses" class="close">&times;</span>
            <h4>Houses</h4>
          </div>
          <div class="modal-body">
            <h5>Do you know that there are 444 houses in the world of Ice and Fire!</h5>
            <h6>Type in the value in the search box to find about a house you may not heard of!</h6>
            <form action="/house" method="post">
                <input type="search" name="id" placeholder="Type in any value from 1 to 444" autocomplete="on"> 
                <input type="submit" name="house" value="Go!">
            </form>
          </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>